<style>
.division { padding-left:20px;}
.division li{list-style-type:disc;}
</style>
<div class="member_header_div">
	<div class="member_header_nav">
    	<ul>
        	<li><a href="/index.php/member-orders.html"><img src="/themes/tnf_theme/images/member_header_01g.png" width="122" height="54" /></a></li>
            <li><a href="/index.php/member-favorite.html"><img src="/themes/tnf_theme/images/member_header_02g.png" width="115" height="54" /></a></li>
            <li><a href="/index.php/member-buy.html"><img src="/themes/tnf_theme/images/member_header_03g.png" width="116" height="54" /></a></li>
            <li><a href="/index.php/member-setting.html"><img src="/themes/tnf_theme/images/member_header_04g.png" width="143" height="54" /></a></li>
            <li><a href="/index.php/aftersales-return_list.html"><img src="/themes/tnf_theme/images/member_header_05r.png" width="114" height="54" /></a></li>
            <li><img src="/themes/tnf_theme/images/member_header_06.png" width="90" height="54" /></li>
        </ul>
    </div>
    <div><img src="/themes/tnf_theme/images/member_header_07.png" width="700" height="21" /></div>
</div>
<div class="member-main">
<div>
<{if $is_open_return_product }>
<h1 class="title"><{t}>售后服务须知<{/t}></h1>
<div class="division uarea-output clearfix">
<{$comment}>
</div>
<div class="textcenter mt5"><div style="width:100px; margin:0 auto"><a href="<{link app=aftersales ctl=site_member act=return_list}>"class='btn-a listact'><span><{t}>下一步<{/t}></span></a></div></div>
<{else}>
<h1 class="title"><{t}>本站没有启用退货功能<{/t}></h1>
<{/if}>
</div>
</div>
